{
  "globals": {
    "jQuery": true,
    "$": true,
    "Swiper": true,
    "Parallax": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off"
  }
}
