.management-section {
  padding: 70px 0 80px;
  @include media('<phone') {
    padding: 35px 0 35px;
  }
  &__container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @include media('<phone') {
      max-width: 262px;
    }
  }
  &__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 60px 0 40px;
    @include media('<tablet') {
      justify-content: center;
      margin: 60px 0 10px;
    }
    @include media('<phone') {
      margin: 28px 0 0;
    }
  }
}
.manager-card {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media('<tablet') {
    width: 40%;
    margin: 0 10px 32px;
  }
  @include media('<phone') {
    width: 110px;
  }
  &__photo-holder {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0 21px;
    @include media('<phone') {
      width: 90px;
      height: 90px;
      margin: 0 0 7px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    font: 18px/1.2 map-get($base, 'base-font-family');
    text-align: center;
    margin: 0;
    @include media('<phone') {
      font-size: 14px;
    }
  }
  &__position {
    font: 14px/1.2 map-get($base, 'base-font-family');
    text-align: center;
    margin: 0 0 5px;
    @include media('<phone') {
      font-size: 12px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__link {
    @include animate(opacity);
    display: flex;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}
