.nav {
  margin-left: auto;
  @include media('<desktop') {
    background-color: map-get($colors, 'white');
    padding: 23px 48px;
    margin-left: 0;
  }

  &__list {
    @extend %listreset;
    display: flex;
    @include media('<desktop') {
      position: absolute;
      right: 0;
      top: 100%;
      width: 100%;
      display: none;
      background-color: #043355;
      padding: 10px 0;
    }
    li {
      margin-left: 47px;
      @include media('<widescreen') {
        margin-left: 20px;
      }
      @include media('<desktop') {
        margin-left: 0;
      }
    }
  }

  &__link {
    @include animate(border opacity);
    position: relative;
    display: block;
    font-size: 18px;
    color: map-get($colors, 'white');
    border-bottom: 1px solid transparent;
    padding: 6px 0 10px;
    &:hover,
    &:focus {
      text-decoration: none;
      border-color: map-get($colors, 'white');
      opacity: 0.8;
    }
    @include media('<desktop') {
      text-align: center;
    }

    &_current {
      border-color: map-get($colors, 'white');
    }
  }

  &__btn-mobile {
    @extend %btnreset;
    display: none;
    &:before,
    &:after {
      @include animate(transform);
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #444;
      border-radius: 1px;
      transform-origin: 0;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    @include media('<desktop') {
      position: relative;
      width: 25px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      @include animate(transform);
      width: 100%;
      height: 2px;
      background-color: #444;
      border-radius: 1px;
    }
    &_active {
      &:before {
        transform: rotateZ(24deg);
      }
      span {
        opacity: 0;
      }
      &:after {
        transform: rotateZ(-24deg);
      }
    }
  }
}
