.welcome-section {
  border-bottom: 1px solid #a5a5a5;
  padding: 70px 0 95px;
  @include media('<tablet') {
    padding: 32px 0 16px;
  }

  &__container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    @include media('<tablet') {
      padding: 0 30px;
    }
  }
  &__sub-title {
    max-width: 660px;
    font: 18px/1.2 map-get($base, 'base-font-family');
    text-align: center;
    margin: 37px 0 0;
    @include media('<tablet') {
      font-size: 14px;
      margin: 18px 0 0;
    }
  }
  &__content {
    width: 100%;
    column-count: 2;
    column-gap: 25px;
    margin: 33px 0 0;
    @include media('<tablet') {
      column-count: 1;
    }
    @include media('<tablet') {
      font-size: 12px;
      line-height: 1.25;
      margin: 16px 0 0;
    }
    p {
      margin-bottom: 20px;
    }
  }
}
