<section class="hero-section">
  <div class="hero-section__background">
    <video playsinline="true" muted="true" autoplay="true" loop="true" poster="/assets/images/hero-img-1920.jpg">
      <source src="/assets/video/miami-city.mp4" type="video/mp4">
    </video>
    <picture>
      <img src="/assets/images/hero-img-768.jpg" alt="">
    </picture>
    <button class="hero-section__btn-control" type="button">Pause</button>
  </div>
  <div class="hero-section__container">
    <h1 class="section-title">Wealth structuring, preservation and protection.</h1>
    <button class="hero-section__btn_scroll-to" type="button" aria-label="Next screen">
      <span class="icon-arrow-long"></span>
    </button>
  </div>
</section>