<section class="management-section">
  <div class="management-section__container">
    <h1 class="section-title">Management</h1>
    <div class="management-section__row">
      <div class="manager-card">
        <div class="manager-card__photo-holder">
          <img src="assets/images/manager-1.jpg" alt="">
        </div>
        <h2 class="manager-card__name">Marco Marano</h2>
        <h3 class="manager-card__position">Managing Director</h3>
        <div class="manager-card__info">
          <a href="#" class="manager-card__link">
            <img src="assets/images/icon-linkedin.png" alt="">
          </a>
          <a href="#" class="manager-card__link">
            <img src="assets/images/icon-email.png" alt="">
          </a>
          <a href="#" class="manager-card__link">vCard</a>
        </div>
      </div>
      <div class="manager-card">
        <div class="manager-card__photo-holder">
          <img src="assets/images/manager-1.jpg" alt="">
        </div>
        <h2 class="manager-card__name">Carlo Borea</h2>
        <h3 class="manager-card__position">Director</h3>
        <div class="manager-card__info">
          <a href="#" class="manager-card__link">
            <img src="assets/images/icon-linkedin.png" alt="">
          </a>
          <a href="#" class="manager-card__link">
            <img src="assets/images/icon-email.png" alt="">
          </a>
          <a href="#" class="manager-card__link">vCard</a>
        </div>
      </div>
      <div class="manager-card">
        <div class="manager-card__photo-holder">
          <img src="assets/images/manager-1.jpg" alt="">
        </div>
        <h2 class="manager-card__name">Terence Pay</h2>
        <h3 class="manager-card__position">International Tax Advisory</h3>
        <div class="manager-card__info">
          <a href="#" class="manager-card__link">
            <img src="assets/images/icon-linkedin.png" alt="">
          </a>
          <a href="#" class="manager-card__link">
            <img src="assets/images/icon-email.png" alt="">
          </a>
          <a href="#" class="manager-card__link">vCard</a>
        </div>
      </div>
      <div class="manager-card">
        <div class="manager-card__photo-holder">
          <img src="assets/images/manager-1.jpg" alt="">
        </div>
        <h2 class="manager-card__name">Angela Soave</h2>
        <h3 class="manager-card__position">Operations & Family Office</h3>
        <div class="manager-card__info">
          <a href="#" class="manager-card__link">
            <img src="assets/images/icon-linkedin.png" alt="">
          </a>
          <a href="#" class="manager-card__link">
            <img src="assets/images/icon-email.png" alt="">
          </a>
          <a href="#" class="manager-card__link">vCard</a>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn_blue">See All <span class="icon-arrow icon-arrow_btn"></span> </a>
  </div>
</section>