<nav class="nav" aria-label="Main navigation">
  <button class="nav__btn-mobile" type="button" aria-label="Button navigation">
    <span></span>
  </button>
  <ul class="nav__list">
    <li><a href="#" class="nav__link nav__link_current">Home</a></li>
    <li><a href="#" class="nav__link">Services</a></li>
    <li><a href="#" class="nav__link">Management</a></li>
    <li><a href="#" class="nav__link">Resources</a></li>
    <li><a href="#" class="nav__link">Contact Us</a></li>
    <li><a href="#" class="nav__link">Client Area</a></li>
  </ul>
</nav>