<section class="resources-section">
  <div class="resources-section__container">
    <h1 class="section-title">Resources</h1>
    <p class="resources-section__text">We regularly publish technical articles and guides on our website and in
      professional publications on various tax
      and structuring matters, including updates on developments in UK and international tax. Click “See All” below to
      view our full library. </p>
    <div class="resources-section__row">
      <article class="resources-block">
        <h2>Spain: ECJ Rules Inheritance Tax Discriminatory</h2>
        <p>The European Court of Justice (ECJ) has ruled that Spain is in breach of European Union treaties by imposing
          a higher rate of gift and inheritance taxes on non-residents.</p>
          <a href="#">Read More <span class="icon-arrow"></span></a>
      </article>
    </div>
  </div>
</section>